* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.layout {
  width: 100vw;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.4vw;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  letter-spacing: 0em;
  text-align: center;
}
.logo {
  font-size: 5vw;
  color: #11b981;
  text-align: center;
  margin: 2vw auto;
}
.logo > a {
  text-decoration: none;
  color: #6a1ce8;
}
.btn {
  background: #6a1ce8;
  border-radius: 0.5vw;
  color: #ffffff;
  padding: 1vw 4vw;
  text-decoration: none;
}

.mcg-page,
.home,
.result {
  margin: 0 auto;
  padding: 2vw;
  width: 50vw;
  overflow: hidden;
}

.home-content {
  border-radius: 2vw;
  background: #fceafe;
  text-align: center;
  font-size: 1.4vw;
  padding: 2vw;
}

.question {
  background: #fceafe;
  border-radius: 2vw;
  padding: 2vw;
  text-align: left;
  color: #6a1ce8;
  margin-bottom: 2vw;
}
.input {
  margin: 1vw;
}
.input > input,
.input > label {
  line-height: 1vw;
  vertical-align: middle;
}
.input > label {
  padding-left: 1vw;
}
.finish-btn {
  cursor: pointer;
  float: right;
}
.timer-text {
  float: right;
}
.btn-wrap {
  margin-bottom: 2vw;
}

.loading-page {
  font-size: 1.4vw;
  margin: 10vw auto;
}

.result-content {
  border-radius: 2vw;
  background: #fceafe;
  color: #6a1ce8;
  padding: 2vw;
}
.result-content > div {
  clear: both;
}
.svg-wrap {
  margin: 2vw auto;
}

.score-txt {
  color: #373434;
  margin: 2vw auto;
}

@media only screen and (max-width: 620px) {
  /* For mobile phones: */
  .mcg-page,
  .home,
  .result {
    width: 100vw;
  }
  .question {
    padding: 4vw;
    margin-bottom: 2vw;
  }
}
